@model TatilSeyahatSitesi.Models.Siniflar.Otel
@{
    ViewBag.Title = "OtelEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>OtelEkle</h2>

<br />

<form class="form-group" method="post">


    @Html.LabelFor(x => x.OtelAdi)
    @Html.TextBoxFor(x => x.OtelAdi, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.OtelAciklama)
    @Html.TextBoxFor(x => x.OtelAciklama, new { @class = "form-control" })

    <br />
    <p>Hangi Blog İçin Otel Eklemek istiyorsunuz ?</p>
    @Html.DropDownList("BlogID", ViewBag.blogId as IEnumerable<SelectListItem>, new { @class = "form-control", id = "BlogID" })
    <br /><br />
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/96599743.jpg?k=9c6313af08f4a2e08139df8870e8819916e02917cf23ba77b7afd26a9b9fe74d&o=&hp=1" width="450px" />

    <br /><br />
    <button class="btn btn-success">Kaydet</button>
</form>

